# Umbraco gitIgnore
# Kevin Jump - consistently ignoring stuff since 1976
#
# This is a general + Umbraco ignore file.
#
# Gotten from bits of the internet 
#   http://stackoverflow.com/questions/8527597/gitignore-file-syntax
#   http://offroadcode.com/blog/2012/4/5/mercurial-ignore-file-for-umbraco/
#

# use glob syntax
syntax: glob

#
# UMBRACO 
# ================

web.config

*/App_Browsers/
*/App_Data/
*/Umbraco/
*/Umbraco_Client/
*/Bin/
*/Config/

aspnet_client/
data/
install/
Media/
*/umbraco/Actions/
*/umbraco/*.*
umbraco_client/
default.aspx
global.asax

*/uSync.Archive/

# ================================
#    Visual Studio + Tools + OS
# ================================
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#OS junk files
[Tt]humbs.db
*.DS_Store

#Nuget
packages/*
!packages/repositories.config



