
ul.uCssClassNameIconPicker {height: 400px;overflow-x: scroll}
ul.uCssClassNameIconPicker li {display: inline-block;margin: 0.4em;width: 6em;height: 4em;vertical-align: top;border: 3px solid #ffffff}
ul.uCssClassNameIconPicker li span {display: block;text-align: center;font-size: 0.8em}
ul.uCssClassNameIconPicker li a i {font-size: 2em;text-align: center;display: block}
ul.uCssClassNameIconPicker li a {text-align: center}
ul.uCssClassNameIconPicker li.selected {border: 3px dashed orange}
ul.uCssClassNameIconPicker li.selected a {color: red;}
i.currentIcon {font-size: 2em;margin-right:0.1em; color: red}
