/* breadcrumb */
.breadcrumb 
{
	background: transparent;
	margin-bottom: 5pt;
	padding-left:0;
	font-size: 85%;
	color: #777;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
