
.featured .thumbnail { 
	border: none;
	min-height: 400px;
}

.featured .thumbnail:hover { 
	background-color: #eee;	
}
	
.featured .thumbnail>img {
	height: 198px;
}


.featured .more-link
{
	position: absolute;
	bottom: 1em;
	right: 1em;;
}

.site-highlights {
    background: #222;
    color: #eee;
	margin-bottom: 1.5em;
	opacity: 0.9;
}

.site-highlights h2 {
    border-bottom: 3px solid #00AB93;
	padding: 0.4em 0.6em;
	margin-bottom: 0em;
}

.site-highlights ul {
    list-style: none;
    padding: 0.5em 1em
}

.site-highlights li {
	padding: 0.2em 0;
}

.site-highlights a {
    color: #fff;
}

.homepage-header {
	margin-top: -40px;
	padding-top: 50px;
	background: #00AB93;
	margin-bottom: 1em;
	color: #fff;
}

.homepage-header h1 { 
	font-size: 2.4em; 
}

.homepage-header a {
	color: #fff;
	font-weight: 700;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
